@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));


html,
body,
#root {
    min-height: 100%;
}


html {
    font-family: "Inter", sans-serif;
}


body {
    margin: 0;
    min-height: 100vh;
    font-family: "Inter", sans-serif;
    background: white;
    color: #18181b;
}


html.dark body {
    background: black;
    color: white;
}

html {
    scroll-behavior: smooth;
}